{% extends "app_layout.html" %}

{% block title %}Dashboard - Admin{% endblock %}

{% block sidebar_menu %}
{% include 'admin/_sidebar.html' %}
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ total_orders }}</h3>
                <p>Tổng đơn hàng</p>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{ pending }}</h3>
                <p>Đang xử lý</p>
            </div>
            <div class="icon">
                <i class="fas fa-clock"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ completed }}</h3>
                <p>Hoàn thành</p>
            </div>
            <div class="icon">
                <i class="fas fa-check-circle"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}

