{% extends "app_layout.html" %}

{% block title %}Thống kê{% endblock %}

{% block sidebar_menu %}
{% include 'admin/_sidebar.html' %}
{% endblock %}

{% block page_title %}Thống kê{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
<li class="breadcrumb-item active">Thống kê</li>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-4 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ total_revenue }}</h3>
                <p>Tổng doanh thu</p>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ total_profit }}</h3>
                <p>Tổng lợi nhuận</p>
            </div>
            <div class="icon">
                <i class="fas fa-chart-line"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{ total_debt }}</h3>
                <p>Công nợ khách hàng</p>
            </div>
            <div class="icon">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}


